body{
    margin: 0px !important;
}
p{
    text-align: justify;
}
.header-row {
    display: flex;
    justify-content: center !important;
}

.header-row h2 {
    text-align: center;
}

.row.my-5 {
    width: 100%;
}

#subscribeForm button:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.row{
    width: 100%;
}

.row.footer-row {
    margin: 2%;
}